<%- include("partials/header"); -%>
    <h1>Contact Us</h1>
    <p> <%= contactContent %> </p>
    <h4>Call us: +91 6897453245</h4>
    <h4>Email us: <a href="mailto:pranjal15@gmail.com ?subject=feedback">Click here</a></h4>
<%- include("partials/footer"); -%>
